/* sortDropdown.css */
.sort-dropdown {
    position: absolute;
    top: 30px; /* Adjust as needed */
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 200px;
  }
  
  .sort-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sort-dropdown li {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .sort-dropdown li:hover {
    background-color: #f0f0f0;
  }
  