/* bottomNav.css */
.bottomNav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 80px;
  z-index: 100;
  background-color: transparent;
  transition: background 1s ease;
}
.bottomNav.scrolled {
  background: #ffffff !important;
}

.bottomNav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
  gap: 15px;
}

.bottomNav ul li {
  font-size: smaller;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s, border-bottom 0.3s;
  padding: 5px 10px;
}

.bottomNav ul li:hover {
  color: #74788d52;
}

/* Active item styles */
.bottomNav ul li.active {
  color: #000; /* Active color */
  border-bottom: 2px solid #000; /* Active underline */
}

@media screen and (max-width: 585px) {
  .bottomNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    gap: 15px;
  }
  .bottomNav {
    background: rgba(
      255,
      255,
      255,
      0.1
    ); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
  }
}
