.navbarMain {
    width: 99vw;
    height: 80px;
    background: #ffffff !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    transition: z-index 1s ease;
}

.navbarMain.scrolled {
    z-index: 100;
}

.socialDiv {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 100%;
}

.logoDiv {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 100%;
    z-index: 10;
}

.navListDiv {
    flex: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    background: #ffffff;
    height: 100%;
}

.navItemDiv {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 100%;
}

.socialDiv ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    gap: 20px;
}

.socialDiv ul li {
    font-size: larger;
    color: #b9b2b2;
}

.logoDiv img {
    width: 100px;
}

.logoDiv span {
    font-size: 30px;
    font-weight: 400;
}

.navListDiv ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    gap: 10px;
}

.navListDiv ul li {
    font-size: small;
    color: #000000;
}

.navItemDiv ul {
    list-style: none;
    display: inline-flex;
    gap: 10px;
}

.navItemDiv ul li {
    font-size: 25px;
    color: #000000;
}

.bottonNav {
    width: 100vw;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 70px;
    z-index: 100;
}

.bottonNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    gap: 10px;
}

.bottonNav ul li {
    font-size: smaller;
    color: #000000;
}

@media screen and (max-width: 755px) {
    .navListDiv {
        display: none;
    }
    .socialDiv {
        display: none;
    }
    .logoDiv {
        justify-content: start;
        padding-left: 30px;
    }
    .navItemDiv {
        justify-content: end;
        padding-right: 30px;
    }
}

@media screen and (max-width: 483px) {
    .logoDiv {
        justify-content: start;
        padding-left: 10px;
    }
    .navItemDiv {
        justify-content: end;
        padding-right: 30px;
    }
    .logoDiv img {
        width: 70px;
    }
    .logoDiv span {
        font-size: 25px;
        font-weight: 400;
    }
    .navItemDiv ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-flex;
        gap: 10px;
    }
    .navItemDiv ul li {
        font-size: 20px;
    }
    .navItemDiv {
        justify-content: end;
        padding-right: 30px;
    }
}

@media screen and (max-width: 364px) {
    .logoDiv span {
        display: none;
    }
}
